{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="flex-d flex-column justify-content-center text-center">
            <h1 class="pt-3"><span class="badge bg-danger">TaiHoa BBQ Menu</span></h1>
            <a href="https://www.google.com/maps/dir//Tai+Hoa+B.B.Q.,+University+Avenue+West,+Saint+Paul,+MN/@44.955447,-93.2185513,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x87f62a80441ec8fb:0xf1e1837a81f3e543!2m2!1d-93.1361564!2d44.9554328?entry=ttu"><p class="d-inline-block pt-3">854 University Ave W, St Paul, MN 55104</p></a>
            <a href="6512988480" class="text-decoration-none"><p>Call (651) 298-8480 to order</p></a>
    </div>
    <ul class="list-group list-group-flush">
        {% for meal in meals %}
            <h2 class="pt-5">{{ meal.1 }}</h2>
                {% for row in item_list %}
                    <!-- Strikes out unavailable meals -->
                    {% if row.meal_type == meal.0 %}
                        {% if row.status == 0 %}
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                                <a href="{% url 'menu_item' row.pk %}"><h3><del>{{ row.meal }}</del></h3></a>
                                {% if row.per_pound == 0 %}
                                    <span class="badge bg-warning rounded-pill">${{ row.price }}</span>
                                {% else %}
                                    <span class="badge bg-warning rounded-pill">${{ row.price }}/lb</span>
                                {% endif %}
                            </li>
                            <li class="list-group-item pt-0">
                                <p>{{ row.description }}</p>
                            </li>
                        {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                                <a href="{% url 'menu_item' row.pk %}"><h3>{{ row.meal }}</h3></a>
                                {% if row.per_pound == 0 %}
                                    <span class="badge bg-warning rounded-pill">${{ row.price }}</span>
                                {% else %}
                                    <span class="badge bg-warning rounded-pill">${{ row.price }}/lb</span>
                                {% endif %}
                            </li>
                            <li class="list-group-item pt-0">
                                <p>{{ row.description }}</p>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}