{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="text-center">
        <h1 class="pt-5">{{ item.meal }}
            {% if item.per_pound == 0 %}
                <span class="badge bg-primary rounded-pill">${{ item.price }}</span>
            {% else %}
                <span class="badge bg-primary rounded-pill">${{ item.price }}/lbs</span>
            {% endif %}
        </h1>
            <p class="">{{ item.description }}</p>
            <img src="{{ item.meal_photo.url }}" class="img-thumbnail" alt="{{ item.meal }}">
        </div>
    </div>
{% endblock content %}

